Binaries
DerivedDataCache
Intermediate
Build

Saved/Autosaves/
Saved/Collections/
Saved/Logs/
Saved/SourceControl/
Saved/UnrealBuildTool/
Saved/webcache_4430/
Saved/Crashes/
Saved/AutoScreenshot.png

.vs
.vsconfig
*.sln